In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/X_train.csv")
data.head()

,202.0,4.0,4.0.1,202.0.1,4.0.2,4.0.3,0.18,0.0207,329,2.77,...,0.524,2.74e-19,329.1,0.0,6.96e-07,16,1,0.4,50,8
0,202.0,-6.8,-346.00,202.0,-9.6,-354.000000,-10.90,0.186,328,23.3,...,-0.288,2.740000e-19,328,0.0,-5.270000e-07,16.0,1,4,50,0
1,200.0,-13.8,-2.25,200.0,-13.9,3.999905,-8.59,0.140,328,30.6,...,0.524,2.740000e-19,328,0.0,9.100000e-07,16.0,1,7,50,0
2,198.0,-14.0,4.00,198.0,-13.9,3.999905,-6.11,0.130,327,30.3,...,-0.180,2.740000e-19,328,0.0,1.070000e-06,16.0,1,7,50,0
3,197.0,-13.9,-14.80,196.0,-13.9,4.000095,-5.70,0.114,328,30.5,...,0.226,2.740000e-19,328,0.0,1.960000e-06,16.0,1,7,50,0
4,195.0,-13.6,85.20,195.0,-13.9,4.000191,-5.85,0.128,328,30.9,...,0.821,2.740000e-19,328,0.0,0.000000e+00,16.0,1,7,50,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18805 entries, 0 to 18804
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   202.0                  18805 non-null  float64
 1   4.0                    18805 non-null  float64
 2   4.0.1                  18805 non-null  float64
 3   202.0.1                18805 non-null  float64
 4   4.0.2                  18805 non-null  float64
 5   4.0.3                  18805 non-null  float64
 6   0.18                   18805 non-null  float64
 7   0.0207                 18805 non-null  float64
 8   329                    18805 non-null  int64
 9   2.77                   18805 non-null  float64
 10  -1.42e-06              18805 non-null  float64
 11  162.0                  18805 non-null  float64
 12  3.975                  18805 non-null  float64
 13  -2.25                  18805 non-null  float64
 14  162.0.1                18805 non-null  float64
 15  4.0.4                  18805 non-null  float64
 16  4.0.5                  18805 non-null  float64
 17  0.539                  18805 non-null  float64
 18  0.0167                 18805 non-null  float64
 19  328                    18805 non-null  int64
 20  1.84                   18805 non-null  float64
 21  6.429999999999999e-07  18805 non-null  float64
 22  123.0                  18805 non-null  float64
 23  4.0.6                  18805 non-null  float64
 24  4.0.7                  18805 non-null  float64
 25  123.0.1                18805 non-null  float64
 26  4.0.8                  18805 non-null  float64
 27  4.0.9                  18805 non-null  float64
 28  0                      18805 non-null  int64
 29  0.1                    18805 non-null  int64
 30  0.2                    18805 non-null  int64
 31  0.3                    18805 non-null  int64
 32  -357.0                 18805 non-null  float64
 33  4.001                  18805 non-null  float64
 34  4.25                   18805 non-null  float64
 35  -357.0.1               18805 non-null  float64
 36  4.0.10                 18805 non-null  float64
 37  4.0.11                 18805 non-null  float64
 38  0.524                  18805 non-null  float64
 39  2.74e-19               18805 non-null  float64
 40  329.1                  18805 non-null  int64
 41  0.0                    18805 non-null  float64
 42  6.96e-07               18805 non-null  float64
 43  16                     18805 non-null  float64
 44  1                      18805 non-null  int64
 45  0.4                    18805 non-null  int64
 46  50                     18805 non-null  int64
 47  8                      18805 non-null  int64
dtypes: float64(37), int64(11)
memory usage: 6.9 MB

In [ ]:
data.describe().head()

,202.0,4.0,4.0.1,202.0.1,4.0.2,4.0.3,0.18,0.0207,329,2.77,...,0.524,2.74e-19,329.1,0.0,6.96e-07,16,1,0.4,50,8
count,18805.000000,18805.000000,18805.000000,18805.000000,18805.000000,18805.000000,18805.00000,1.880500e+04,18805.000000,18805.000000,...,18805.000000,1.880500e+04,18805.000000,18805.000000,18805.000000,18805.000000,18805.000000,18805.000000,18805.000000,18805.000000
mean,167.705344,3.652425,4.611972,167.703457,3.661128,4.593150,-0.52881,5.912947e-02,326.657538,8.159946,...,12.336007,5.461959e-01,323.378942,68.118518,0.103518,16.004945,1.009253,37.202233,23.367243,3.954533
std,20.819537,6.526138,102.799908,20.821407,6.537484,86.566547,4.14980,4.494133e-02,1.661957,9.960773,...,11.449986,4.899697e-01,4.847623,58.372680,0.090860,0.857836,0.572373,43.000308,20.621489,2.616099
min,144.000000,-17.300000,-1275.000000,144.000000,-17.000000,-997.000000,-23.40000,2.780000e-19,320.000000,0.000000,...,-8.280000,0.000000e+00,290.000000,0.000000,-0.002960,15.000000,0.000000,0.000000,3.000000,0.000000
25%,150.500000,2.390000,-20.000000,150.000000,2.390000,3.000000,-3.38000,2.210000e-02,325.000000,1.260000,...,0.207000,2.760000e-19,320.000000,0.000000,0.000000,15.000000,1.000000,0.000000,6.000000,1.000000

In [ ]:
data.isnull().sum()

202.0                    0
4.0                      0
4.0.1                    0
202.0.1                  0
4.0.2                    0
4.0.3                    0
0.18                     0
0.0207                   0
329                      0
2.77                     0
-1.42e-06                0
162.0                    0
3.975                    0
-2.25                    0
162.0.1                  0
4.0.4                    0
4.0.5                    0
0.539                    0
0.0167                   0
328                      0
1.84                     0
6.429999999999999e-07    0
123.0                    0
4.0.6                    0
4.0.7                    0
123.0.1                  0
4.0.8                    0
4.0.9                    0
0                        0
0.1                      0
0.2                      0
0.3                      0
-357.0                   0
4.001                    0
4.25                     0
-357.0.1                 0
4.0.10                   0
4.0.11                   0
0.524                    0
2.74e-19                 0
329.1                    0
0.0                      0
6.96e-07                 0
16                       0
1                        0
0.4                      0
50                       0
8                        0
dtype: int64